
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1498707762633'); /* IE9*/
  src: url('iconfont.eot?t=1498707762633#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1498707762633') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1498707762633') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1498707762633#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reset:before { content: "\e925"; }

.icon-lquoright:before { content: "\e71d"; }

.icon-sheildtick:before { content: "\e722"; }

.icon-gear:before { content: "\e732"; }

.icon-cross:before { content: "\e74a"; }

.icon-swap:before { content: "\e761"; }

.icon-circletick:before { content: "\e77e"; }

.icon-unsual:before { content: "\e7b6"; }

.icon-alert:before { content: "\e7bc"; }

.icon-db-leak:before { content: "\e7c2"; }

.icon-plane:before { content: "\e7c5"; }

.icon-manager:before { content: "\e7c7"; }

.icon-apps-b:before { content: "\e7c8"; }

.icon-database:before { content: "\e7c9"; }

.icon-snipe:before { content: "\e7ca"; }

.icon-arrow-left:before { content: "\e7cb"; }

.icon-option:before { content: "\e7cc"; }

.icon-home:before { content: "\e7cd"; }

.icon-history:before { content: "\e7ce"; }

.icon-appalert:before { content: "\e7cf"; }

.icon-webshell:before { content: "\e7d0"; }

.icon-internet:before { content: "\e7d1"; }

.icon-db-visted:before { content: "\e7dd"; }

.icon-db-shared:before { content: "\e7de"; }

.icon-arrow-right:before { content: "\e7df"; }

.icon-global:before { content: "\e7e0"; }

.icon-db-relations:before { content: "\e7d7"; }

.icon-senstive:before { content: "\e7d8"; }

.icon-sheild-disabled:before { content: "\e7da"; }

.icon-user-disabled:before { content: "\e7db"; }

